body {
    background-image: url('https://i.imgur.com/uLSR20n.png');
    color: white;
}

main {
    padding-top: 50px;
}

.character {
    box-sizing: border-box;
    padding: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin: 20px;
    width: 226px;
    background: black;
    color: white;
    border: 3px white solid;
    font-weight: bold;
    font-size: 14px;
    opacity: .8;
}

.character:hover {
    opacity: 1;
}